* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    scroll-behavior: smooth;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    padding: 25px 10%;
    background-color: #1f242d;
    z-index: 10;
}

.logo {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 27px;
    cursor: default;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 0px 16px;
    font-weight: 600;
    transition: 0.3s all;
}

.navbar a:hover,
.navbar a.active {
    color: #0ef;
}


/* container 1 */

.container1 {
    background-color: #1f242d;
    display: flex;
    padding: 25px 10%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 10px 0;
    letter-spacing: 1px;
}

.intro h1 {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 1px;
}

.intro h3 span {
    color: #0ef;
}

p {
    line-height: 27px;
    margin: 20px 0px 40px 0px;
    font-size: 20px;
}


/* profile styling */

.profile img {
    position: relative;
    border: 4px solid #0ef;
    border-radius: 900%;
    height: 350px;
    width: 350px;
    margin-left: 25%;
    transition: 0.3s;
    box-shadow: 0 0 15px #0ef;
}

.profile img:hover {
    box-shadow: none;
}


/* icon styling */

i {
    position: relative;
    border: 2px solid #0ef;
    padding: 10px;
    border-radius: 50%;
    color: #0ef;
    margin: 0px 8px;
    transition: 0.3ms;
}

i:hover {
    box-shadow: 0 0 20px #0ef;
}

button {
    background-color: #0ef;
    padding: 20px 70px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
    box-shadow: 0 0 15px #0ef;
}

button:hover {
    box-shadow: none;
}


/* section 2 */

.container2 {
    /* height: 100vh; */
    padding: 10rem;
    background-color: #1f242d;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container2 .main .skills {
    display: flex;
    gap: 10rem;
    justify-content: space-between;
}

.container2 .main .skills .computer-skills,
.container2 .main .skills .soft-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 4rem;
}

.container2 .main .skills .computer-skills .skill-logo,
.container2 .main .skills .soft-skills .skill-logo {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.container2 .main .skills .computer-skills .title,
.container2 .main .skills .soft-skills .title {
    font-size: 50px;
    color: aquamarine;
}

.container2 .main .skills .computer-skills li,
.container2 .main .skills .soft-skills li {
    font-size: 50px;
    border: 1px solid white;
    list-style: none;
    transition: all .7s ease;
    background-color: rgb(141, 204, 243);
}

.container2 .main .skills .computer-skills li img,
.container2 .main .skills .soft-skills li img {
    overflow: hidden;
    height: 150px;
    padding: 15px;
    aspect-ratio: 4/4;
}

.container2 .main .skills .computer-skills li:hover {
    box-shadow: 0 0 40px currentColor;
    transform: scale(1.2);
}

.container2 .main .skills .soft-skills li:hover {
    box-shadow: 0 0 40px yellow;
    transform: scale(1.2);
}


/* responsiveness */

@media only screen and (max-width:600px) {
    * {
        margin: 0;
        padding: 0;
    }
    .container1 {
        display: flex;
        flex-wrap: wrap-reverse;
        margin-top: 35%;
    }
    .profile img {
        position: relative;
        padding: 0;
        margin-left: -5.4%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: 2%; */
        height: 250px;
        width: 250px;
    }
    .container1 .intro {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 20px 20px 20px;
        padding: 1rem;
        flex-direction: column;
        font-size: 1.4rem;
    }
    .container1 .intro h1,
    h3,
    p {
        text-align: center;
        font-size: smaller;
    }
    .container1 .intro .btn-collection {
        display: flex;
    }
    .header {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        justify-content: space-between;
        padding: 25px 10%;
        background-color: #1f242d;
        z-index: 10;
    }
}